html,
body,
main,
input,
.sidebar,
aside {
  background: var(--docsify_dark_mode_bg);
	color: var(--primary_content);
}

#dark_mode > input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}
#dark_mode > label {
  cursor: pointer;
  text-indent: -9999px;
  width: 38px;
  height: 23px;
  background: var(--ui_highlight);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
}

#dark_mode > label:after {
  content: '';
  background: #fff;
  width: 13px;
  height: 13px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
}

#dark_mode > input:checked + label {
  background: var(--ui_highlight);
}

#dark_mode > input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 420ms !important;
}

#dark_mode {
  position: fixed;
  left: 255px;
	bottom: 9px;
}

/* heading color stuff */
.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6 {
  color: var(--emphasized_content);
}

.sidebar h1 {
  color: var(--emphasized_content);
}

.anchor span {
  color: var(--emphasized_content);
}

/* bold and italics */
.markdown-section strong, 
.markdown-section em {
	color: var(--emphasized_content);
}

/* code */
.markdown-section code,
.markdown-section pre,
.markdown-section pre > code {
  background-color: var(--background_highlight);
}

.markdown-section code {
  color: var(--theme-color);
}

.markdown-section pre > code {
  color: var(--primary_content);
}

/* here there be dragons */
.sidebar li:not(.active)>a
{
  color: var(--primary_content) !important;
}

input, input::placeholder {
	color: var(--primary_content);
}


.search {
	border-bottom-color: var(--ui_highlight) !important;
}
.matching-post {
	border-bottom-color: var(--ui_highlight) !important;
}

.docsify-pagination-container {
	border-top-color: var(--ui_highlight) !important;
}

.sidebar {
	border-right-color: var(--ui_highlight) !important;
}

.markdown-section td, .markdown-section th {
	border-color: var(--ui_highlight);
}

.markdown-section tr:nth-of-type(2n) {
	background-color: var(--background_highlight);
}

.sidebar-toggle {
	width: 255px;
	background-color: rgba(var(--docsify_dark_mode_bg_rgb), 0.8);
}

@media screen and (max-width: 768px) {
	.sidebar-toggle {
		width: 0;
	}
	
	body.close .sidebar-toggle {
		width: 255px;
		background-color: rgba(var(--docsify_dark_mode_bg_rgb), 0.8);
	}
	
	#dark_mode {
		left: -45px;
		top: 2330px;
		position: absolute;
	}
	
	body.close #dark_mode {
		transform: translateX(300px);
	}
}
